body {
    font-family: Arial;
    font-size: 14px;
}
.logo {
    font-size: 65px;
    font-weight: lighter;
    letter-spacing: -6px;
    background-color: #10aded;
    color: #fff;
    padding: 20px 30px;
    font-style: oblique;

}
.logo .number {
    color: #fff;
    opacity: 0.5;
}
.navigation {
    margin-left: 33px;
}
.navigation a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #222;
    background: #222;
    color: #fff;
}
.navigation a:hover {
    color: #222;
    background: transparent;
}
.container {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 33px;
}
.container a {
    color: #222;
}
.container table {
    font-size: 11px;
    margin-top: 20px;
}
.container table thead td {
    background-color: #f5f5f5;
    padding: 4px 10px;
}
.container table tbody td {
    padding: 4px 10px;
}
.container .box {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 30px;
}
.container input {
    background-color: #f5f5f5;
    border: 0;
    padding: 5px 10px;
}
.container input[type="submit"] {
    background-color: #ccc;
    cursor: pointer;
}
.container input[type="submit"]:hover {
    background-color: #222;
    color: #fff;
}
.container button {
    background-color: #ccc;
    border: 0;
    padding: 5px 10px;
    cursor: pointer;
}
.container button:hover {
    background-color: #222;
    color: #fff;
}

/*
#vie-test-results {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    column-width: 500px;
    -moz-column-width: 500px;
    -webkit-column-width: 500px;
}
*/

.vie-test-result-item{
}

.vie-test-restult-headline{
    text-transform: capitalize;
}

.content{
  padding:0 16px;
}

.targets {
  padding: 0;
  border-bottom: 1px solid #ccc;
}

.targets__item {
  display: inline-block;
  border-bottom: 1px solid #ccc;
  margin-bottom: -1px;
}
.targets__item a{
  color: #333;
  text-decoration: none;
  padding: 16px;
  display: inline-block;
}

.targets__item--active a{
  font-weight: bold;
}

.targets__item--active {
  border-bottom: 1px solid white;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.targets__item--active:first {
  border-left: none;
}

.targets:after {
  clear: both;
}
